html {
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
}

body {
	min-height: 100%;
	margin: 0;
	padding: 0;
	background-color: #dddddd;
}

header {
	overflow: auto;
	height: 15em;
}

.poll-container {
	width: 40%;
	margin: auto;
	margin-top: 1em;
}

#poll-question {
	font-size: 2em;
}

.modal {
	top: 30% !important;
	width: 30% !important;
}

.poll-option {
	display: flex;
	flex-direction: row;
	margin-left: 1em;
}
