html {
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
}

body {
	min-height: 100%;
	margin: 0;
	padding: 0;
}

header {
	overflow: auto;
	height: 5em;
}

.poll-container {
	width: 90%;
	margin: auto;
	margin-top: -3.5em;
}

#poll-question {
	font-size: 2.5em;
	margin-bottom: 0.5em;
}

.modal {
	top: 30% !important;
	width: 30% !important;
}

.poll-option {
	display: flex;
	flex-direction: row;
}

.mt2 {
	margin-top: 2em;
}

.mt1 {
	margin-top: 1em;
}

.subtitle {
	display: inline-block;
}

.results-percent {
	margin-top: 0.5em;
	height: 2em;
	line-height: 2em;
	overflow: hidden;
}

.percentage-bar {
	display: inline-block;
	height: 2em;
	width: 90%;
}

@media (min-width: 40em) {
	.poll-container {
		width: 40em;
	}

	header {
		height: 15em;
	}
}